.footer {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
  

    .profile-img {
        width: 20px;
        border-radius: 50px;
        cursor: pointer;
    }
}
  